.nike-ready {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.imagem_nikeready {
    width: 95%;
}

.button-flex {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.imagem_nikeready-desktop {
    display: none;
}

.flex {
    margin: 0 2em;
}

@media screen and (min-width: 1024px) {
    .imagem_nikeready {
        display: none;
    }

    .imagem_nikeready-desktop{
        display: flex;
        max-width: 80vw;
    }
}